<template>

    <div>
        <table cellpadding="2" cellspacing="0" width="100%" class="data">
            <tr>
                <td colspan="23">

                    <table width="100%" style="border:0" cellspacing="0" cellpadding="1" class="data">

                        <tr>
                            <td style="border:0" rowspan="6">
                                <!--                                <img src="http://mmttc.ac.ke/logo.JPG" height="110px">-->
                            </td>
                        </tr>

                        <tr>
                            <td style="border:0" valign="" colspan="2"><span
                                class="title">MACHAKOS MEDICAL AND TECHNICAL TRAINING COLLEGE</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="border:0" colspan="2"><b>Address : P.O BOX 23 - 90138</b></td>
                        </tr>

                        <tr>
                            <td style="border:0" colspan="2"><b>Tel : 0713 642 175</b></td>
                        </tr>

                        <tr>
                            <td style="border:0" colspan="2"><b>Motto :To be noble in character and academic
                                excellence.</b>
                            </td>
                        </tr>

                        <tr>
                            <td style="border:0" colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td style="border:0"><b> TERM 2 FEE STATEMENT</b></td>
                            <td style="border:0"><b> PRINTED </b></td>
                        </tr>

                    </table>

                </td>
            </tr>
            <table cellpadding="2" cellspacing="0" width="100%" class="data">
                <thead>
                <tr>
                    <td nowrap class="pl-2"><strong>#</strong></td>
                    <td nowrap class="pl-2"><strong>STUDENT NAME</strong></td>
                    <td nowrap class="pl-2"><strong>ADMNO.</strong></td>
                    <td nowrap class="pl-2"><strong>D/B</strong></td>
                    <td nowrap class="pl-2"><strong>B/F</strong></td>
                    <td nowrap class="pl-2"><strong>THIS TERMS FEES</strong></td>
                    <td nowrap class="pl-2"><strong>TOTAL FEES</strong></td>
                    <td nowrap class="pl-2"><strong>PAYMENTS</strong></td>
                    <td nowrap class="pl-2"><strong>BALANCE</strong></td>
                </tr>
                </thead>
                <template v-for="(student,index) in $route.params.$data.allStudents">


                    <tr>
                        <td nowrap class="pl-2">{{ index + 1}}</td>
                        <td nowrap class="pl-2"><strong>{{ student.fullname }}</strong></td>
                        <td nowrap class="pl-2"><strong>{{ student.admno}}</strong></td>
                        <td nowrap class="pl-2"><span v-if="student.boarder === '1'"><strong>BOARDER</strong></span>
                            <span v-else><strong>DAY SCHOLAR</strong></span></td>
                        <td nowrap class="pl-2">0.00</td>
                        <td nowrap class="pl-2"><strong>{{ parseInt(student.fee).toLocaleString() }}</strong></td>
                        <td nowrap class="pl-2"><strong>{{ parseInt(student.fee).toLocaleString() }}</strong></td>
                        <td nowrap class="pl-2"><strong>{{ parseInt(student.payments).toLocaleString() }}</strong></td>
                        <td class="pl-2"><strong>{{ parseInt(student.fee - student.payments).toLocaleString()
                            }}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <div class="d-flex flex-row bd-highlight mr-2  justify-content-start">
                                <div class="p-2 bd-highlight" style="border-right: 1px solid black"
                                     v-for="receipts in student.custompayments">

                                    <strong class="mr-2">Date: </strong> <span class="float-right">{{ receipts
                                            .date}}</span>
                                    <br>
                                    <strong class="mr-2">RCT: </strong> <span class="float-right">{{ receipts.receipt
                                            }}</span>
                                    <br>
                                    <strong class="mr-2">Amount: </strong> <span class="float-right">{{
                                            parseInt(receipts.amount).toLocaleString()}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div v-if="index === 13" class="page-break">
                    </div>
                </template>
            </table>

        </table>
    </div>

</template>

<script>
    export default {
        name: "feestatement"
    }
</script>


<style scoped>
    body {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        font-family: "Times New Roman";
    }

    table.data {
        font-family: "Times New Roman";
        font-size: 12px;
        empty-cells: show;
        border: 1px solid #000;
        border-collapse: collapse;
        border-spacing: 0.5rem;
        empty-cells: show;
    }

    table.data td {
        border: 1px solid #666;
        font-size: 12px;
    }

    table.data td.header {
        background-color: #EDECEB;
        font-size: large;
    }

    table.data td.abottom {
        vertical-align: bottom;
        font-size: 10px;
    }

    span.title {
        font-size: 14px;
        font-weight: bold;
    }


    @media print {
        .page-break {
            margin-bottom: 3em;
            page-break-after: always;
            break-after: always;
        }
    }

    @media screen {
        .page-break {
            margin-bottom: 3em;
            page-break-after: always;
            break-after: always;
        }
    }


</style>
