<template>
    <div>
        <form action="">
            <div class="form-row">
                <!--Label: Student Name, Attributes:name -->
                <div class="form-group col-md-6">
                    <label for="name">Student Name</label>
                    <input type="text" class="form-control" id="name" v-model="name"
                           aria-describedby="name-help"
                           :class="[errors.name ? 'is-invalid': '',!errors.name && Object.keys(errors).length > 1 ? 'is-valid': '']"
                           placeholder="Student Name" required>
                    <div class="invalid-feedback" v-if="errors.name">
                        {{ errors.name.toString()}}
                    </div>
                </div>
                <!--Label: Admission Number, Attributes:admno -->
                <div class="form-group col-md-6">
                    <label for="admno">Admission Number</label>
                    <input type="text" class="form-control" id="admno" v-model="admno"
                           aria-describedby="admno-help"
                           :class="[errors.admno ? 'is-invalid': '',!errors.admno && Object.keys(errors).length > 1 ? 'is-valid': '']"
                           placeholder="Admission Number" required>
                    <div class="invalid-feedback" v-if="errors.admno">
                        {{ errors.admno.toString()}}
                    </div>
                </div>
                <!--Label: Course, Attributes:course -->
                <div class="form-group col-md-6">
                    <label for="course">Course</label>
                    <select class="form-control" id="course" v-model="course"
                            :class="[errors.course ? 'is-invalid': '',!errors.course && Object.keys(errors).length > 1 ? 'is-valid': '']"
                    >
                        <option :value="c.id" v-for="c in courses">{{ c.type }} in <span style="font-weight: 700;">{{
                            c.name
                            }}</span></option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.course">
                        {{ errors.course.toString()}}
                    </div>
                </div>

                <!--Label: Boarder, Attributes:boarder -->
                <div class="form-group col-md-6">
                    <label for="boarder">Boarder</label>
                    <select class="form-control" id="boarder" v-model="boarder"
                            :class="[errors.boarder ? 'is-invalid': '',!errors.boarder && Object.keys(errors).length > 1 ? 'is-valid': '']">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>

                    <div class="invalid-feedback" v-if="errors.boarder">
                        {{ errors.boarder.toString()}}
                    </div>
                </div>

            </div>
            <div class="form-row">
                <button class="btn btn-primary float-right" type="submit" :disabled="savingStudent"
                        @click.prevent="saveStudent">
                    <i :class="{'fa fa-spin fa-spinner': savingStudent}"></i>
                    Save Student
                </button>
            </div>
        </form>

        <div class="mt-5">
            <student ref="student"></student>
        </div>
    </div>
</template>

<script>
    import student  from './index'
    export default {
        name: "create",
        components: {
          student
        },
        data() {
            return {
                name: '',
                admno: '',
                errors: '',
                boarder: '',
                course: '',
                courses: '',
                savingStudent: false,
            }
        },
        created() {
            this.getCourses();
        },
        methods: {
            saveStudent() {
                this.savingStudent = true;
                axios.post('/api/students',this.$data).then(resp=>{
                    this.savingStudent = false;
                    this.name = '';
                    this.admno = '';
                    this.$refs.student.getStudents();
                }).catch(err=>{
                    this.errors = err.response.data.errors;
                    this.savingStudent = false;
                    if (err.request) {
                        this.savingStudent = false;
                    }
                });
            },
            getCourses() {
                axios.get('/api/course').then(resp => {
                    this.loading = false;
                    this.courses = resp.data;
                }).catch(err => {
                    this.loading = false;
                    if (err.request) {
                        this.loading = false;
                    }
                });
            }
        },
    }
</script>

<style scoped>

</style>
