<template>
    <div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <!--            <img class="card-img-top" src="..." alt="Card image cap">-->
                        <div class="card-body">
                            <h5 class="card-title p-0 m-0">{{ student.fullname }}</h5>
                            <p class="card-text p-0 m-0">{{ student.courses.type }} in {{ student.courses.name }}</p>
                            <p class="card-text p-0 m-0">{{ student.admno }}</p>
                            <p class="card-text p-0 m-0" v-if="student.phonenumber">{{ student.phonenumber }}</p>
                            <p class="card-text p-0 m-0">
                                <span v-if="student.boarder === '1'" class="badge badge-cyan">Boarder</span>
                                <span v-else class="badge badge-gold">Day Scholar</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <!--            <img class="card-img-top" src="..." alt="Card image cap">-->
                        <div class="card-body">
                            <h5 class="card-title">Amount Due</h5>
                            <p class="card-text">KES {{ parseInt((student.expectedFee - student.paidtransfers) -
                                student.paidAlready).toLocaleString() }}

                                <span v-if="parseInt((student.expectedFee - student.paidtransfers) -
                                student.paidAlready) < 0"
                                      class="badge badge-success">
                                    Overpaid
                                </span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="table-wrap">
                <div class="table-responsive">
                    <table class="table mb-0 table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Debit(Expected)</th>
                            <th>Credit (Paid)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(st,index) in student.term">
                            <template>
                                <tr>
                                    <td>{{ index + 1}}</td>
                                    <td><strong>{{ st.term }}, {{ st.year }}</strong></td>
                                    <td>{{parseInt( st.pivot.fee - st.transfers_count).toLocaleString()}}</td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-gold"><i class="fa fa-print"></i></button>
                                        <button class="btn btn-sm btn-outline-cyan" data-toggle="modal"
                                                :disabled="savingPayment"
                                                @click="setTerm(st)"
                                                data-target="#exampleModal">
                                            <i :class="{'fa fa-spin fa-spinner':savingPayment}"></i>
                                            Make Payment
                                        </button>
                                        <button class="btn btn-sm btn-outline-cyan" data-toggle="modal"
                                                :disabled="savingPayment"
                                                @click="setTerm(st)"
                                                data-target="#transfermodal">
                                            <i :class="{'fa fa-spin fa-spinner':savingPayment}"></i>
                                            Transfer to
                                        </button>

                                        <button class="btn btn-sm btn-outline-danger"
                                                v-if="st.pivot.boarder === 0"
                                                :disabled="savingBoarder"
                                                @click.prevent="savingBoardesr(st.id)"
                                        >
                                            <i :class="{'fa fa-spin fa-spinner':savingBoarder}"></i>
                                            Make Boarder
                                        </button>
                                    </td>
                                </tr>
                                <tr v-for="pay in st.payments">
                                    <td></td>
                                    <td><strong>Date: </strong>{{ pay.date}}</td>
                                    <td><strong>RCT: </strong>{{ pay.receipt}}</td>
                                    <td><strong><strong>Amount: </strong>{{ parseInt(pay.amount).toLocaleString()
                                        }} /=</strong></td>
                                    <td></td>
                                </tr>
                                <tr v-for="transfer in st.transfers">
                                    <td></td>
                                    <td><strong>Date: </strong>{{transfer.date}}</td>
                                    <td>
                                        <strong>TRFR: </strong>{{ transfer.transferredto}}
                                    <span class="badge badge-light">transfer</span>
                                    </td>
                                    <td><strong>Amount: {{ parseInt(transfer.amount).toLocaleString() }} /=</strong>
                                    </td>
                                    <td></td>
                                </tr>
                            </template>

                        </template>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Make Payment ({{currentTerm.term}},
                                {{currentTerm.year}})</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="form-row">
                                    <!--Label: Amount, Attributes:amount -->
                                    <div class="form-group col-md-6">
                                        <label for="amount">Amount</label>
                                        <input type="text" class="form-control" id="amount" v-model="amount"
                                               aria-describedby="amount-help"
                                               :class="[errors.amount ? 'is-invalid': '',!errors.amount && Object.keys(errors).length > 1 ? 'is-valid': '']"
                                               placeholder="Amount" required>
                                        <div class="invalid-feedback" v-if="errors.amount">
                                            {{ errors.amount.toString()}}
                                        </div>
                                    </div>
                                    <!--Label: Date Paid, Attributes:date -->
                                    <div class="form-group col-md-6">
                                        <label for="date">Date Paid</label>
                                        <input type="date" class="form-control" id="date" v-model="date"
                                               aria-describedby="date-help"
                                               :class="[errors.date ? 'is-invalid': '',!errors.date && Object.keys(errors).length > 1 ? 'is-valid': '']"
                                               placeholder="Date Paid" required>
                                        <div class="invalid-feedback" v-if="errors.date">
                                            {{ errors.date.toString()}}
                                        </div>
                                    </div>
                                    <!--Label: Receipt Number, Attributes:receiptnumber -->
                                    <div class="form-group">
                                        <label for="receiptnumber">Receipt Number</label>
                                        <input type="text" class="form-control" id="receiptnumber"
                                               v-model="receiptnumber"
                                               aria-describedby="receiptnumber-help"
                                               :class="[errors.receiptnumber ? 'is-invalid': '',!errors.receiptnumber && Object.keys(errors).length > 1 ? 'is-valid': '']"
                                               placeholder="Receipt Number" required>
                                        <div class="invalid-feedback" v-if="errors.receiptnumber">
                                            {{ errors.receiptnumber.toString()}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click.prevent="makepayment"
                                    :disabled="savingPayment">
                                <i :class="{'fa fa-spin fa-spinner':savingPayment}"></i>
                                Make
                                Payment
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="transfermodal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="transfermodala">Transfer money for ({{currentTerm.term}},
                                {{currentTerm.year}})</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="form-row">
                                    <!--Label: Amount, Attributes:amounttransfered -->
                                    <div class="form-group">
                                        <label for="amounttransfered">Amount</label>
                                        <input type="text" class="form-control" id="amounttransfered"
                                               v-model="amounttransfered"
                                               aria-describedby="amounttransfered-help"
                                               :class="[errors.amounttransfered ? 'is-invalid': '',!errors.amounttransfered && Object.keys(errors).length > 1 ? 'is-valid': '']"
                                               placeholder="Amount" required>
                                        <div class="invalid-feedback" v-if="errors.amounttransfered">
                                            {{ errors.amounttransfered.toString()}}
                                        </div>
                                    </div>
                                    <!--Label: Date, Attributes:datetransfered -->
                                    <div class="form-group">
                                        <label for="datetransfered">Date</label>
                                        <input type="date" class="form-control" id="datetransfered"
                                               v-model="datetransfered"
                                               aria-describedby="datetransfered-help"
                                               :class="[errors.datetransfered ? 'is-invalid': '',!errors.datetransfered && Object.keys(errors).length > 1 ? 'is-valid': '']"
                                               placeholder="Date" required>
                                        <div class="invalid-feedback" v-if="errors.datetransfered">
                                            {{ errors.datetransfered.toString()}}
                                        </div>
                                    </div>
                                    <!--Label: Transferred To , Attributes:transferredto -->
                                    <div class="form-group">
                                        <label for="transferredto">Transferred To </label>
                                        <input type="text" class="form-control" id="transferredto"
                                               v-model="transferredto"
                                               aria-describedby="transferredto-help"
                                               :class="[errors.transferredto ? 'is-invalid': '',!errors.transferredto && Object.keys(errors).length > 1 ? 'is-valid': '']"
                                               placeholder="Transferred To " required>
                                        <div class="invalid-feedback" v-if="errors.transferredto">
                                            {{ errors.transferredto.toString()}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="storeTransfers()"
                                    :disabled="transferring">
                                <i :class="{'fa fa-spin fa-spinner':transferring}"></i>
                                Transfer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "show",
        data() {
            return {
                student: '',
                term: '',
                currentTerm: '',
                errors: '',
                type: '',
                border: '',
                receiptnumber: '',
                savingPayment: false,
                transferring: false,
                savingBoarder: false,
                amount: '',
                date: '',
                amounttransfered: '',
                datetransfered: '',
                transferredto: '',
            }
        },
        created() {
            this.getStudents();
        },
        methods: {
            getStudents() {
                axios.get('/api/students/' + this.$route.params.id).then(resp => {
                    this.student = resp.data;
                });
            },
            makepayment() {
                this.savingPayment = true;
                axios.post('/api/payments', this.$data).then(resp => {
                    this.savingPayment = false;
                    this.errors = '';
                    this.amount = '';
                    this.date = '';
                    $('#exampleModal').modal('hide');
                    this.getStudents();
                }).catch(err => {
                    this.savingPayment = false;
                    this.errors = err.response.data.errors;
                });
            },
            setTerm(id) {
                this.currentTerm = id;
            },
            savingBoardesr(termid) {
                this.savingBoarder = true;
                axios.post('/api/makeboarder', {
                    term: termid,
                    student: this.student.id,
                }).then(resp => {
                    this.savingBoarder = false;
                    this.getStudents();
                });
            },
            storeTransfers(term) {
                this.transferring = true;
                axios.post('/api/transfermoney', {
                    student: this.student.id,
                    term: this.currentTerm,
                    date: this.datetransfered,
                    transferredto: this.transferredto,
                    amount: this.amounttransfered,
                }).then(resp => {
                    this.transferring = false;
                    $('#transfermodal').modal('hide');
                    this.amounttransfered = '';
                });
            }
        },
        filters: {
            getAmountOwed: function (value) {
                return value;
            }
        }
    }
</script>

<style scoped>

</style>
