<template>
    <div class="row">
        <div class="col-xl-12">
            <div class="hk-row">
                <div class="col-lg-4">
                    <div class="card card-sm border-bottom-0">
                        <div class="card-header card-header-action">
                            <h6>MMTTC</h6>
                            <div class="d-flex align-items-center card-action-wrap">
                                <div class="inline-block dropdown">
                                    <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#"
                                       aria-expanded="false" role="button"><i class="ion ion-ios-more"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <router-link :key="$route.fullPath" :to="{ name: 'students'}"
                                                     class="dropdown-item">Manage Students</router-link>
                                        <router-link :key="$route.fullPath" :to="{ name: 'teachers'}"
                                                     class="dropdown-item">Manage Teachers</router-link>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pa-0">
                            <div class="pa-15">
                                <div class="row">
                                    <div class="col-6">
                                        <span class="d-block text-capitalize">Students</span>
                                        <span class="d-block text-dark font-weight-500 font-20">{{ students }}</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="d-block text-capitalize">Teachers</span>
                                        <span class="d-block text-dark font-weight-500 font-20">{{ teachers }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <div class="progress rounded-bottom-left rounded-bottom-right">
                                    <div class="progress-bar bg-primary w-15" role="progressbar" aria-valuenow="15"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-indigo-light-1 w-35" role="progressbar"
                                         aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-indigo-light-2 w-50" role="progressbar"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-sm border-bottom-0">
                        <div class="card-header card-header-action">
                            <h6>Classes</h6>
                            <div class="d-flex align-items-center card-action-wrap">
                                <div class="inline-block dropdown">
                                    <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#"
                                       aria-expanded="false" role="button"><i class="ion ion-ios-more"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <router-link :key="$route.fullPath" :to="{ name: 'classes'}"
                                                     class="dropdown-item">Manage Classes</router-link>
                                        <router-link :key="$route.fullPath" :to="{ name: 'streams'}"
                                                     class="dropdown-item">Add Class</router-link>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pa-0">
                            <div class="pa-15">
                                <div class="row">
                                    <div class="col-6">
                                        <span class="d-block text-capitalize">Classes</span>
                                        <span class="d-block text-dark font-weight-500 font-20">4</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="d-block text-capitalize">Streams</span>
                                        <span class="d-block text-dark font-weight-500 font-20">{{ streams }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <div class="progress rounded-bottom-left rounded-bottom-right">
                                    <div class="progress-bar bg-primary w-15" role="progressbar" aria-valuenow="15"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-indigo-light-1 w-35" role="progressbar"
                                         aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-indigo-light-2 w-50" role="progressbar"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                students: '',
                teachers: '',
                streams: ''
            }
        },
        mounted() {
            axios.get('/api/dashboard').then(resp=>{
                this.students = resp.data.students;
                this.teachers = resp.data.teachers;
                this.streams = resp.data.streams;
            });
        }
    }
</script>
