<template>
    <div>
        <form action="">
            <div class="form-row">
                <!--Label: Year, Attributes:year -->
                <div class="form-group col-md-6">
                    <label for="year">Year</label>
                    <select class="form-control" id="year" v-model="year"
                            :class="[errors.year ? 'is-invalid': '',!errors.year && Object.keys(errors).length > 1 ? 'is-valid': '']"
                    >
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.year">
                        {{ errors.year.toString()}}
                    </div>
                </div>
                <!--Label: Term, Attributes:term -->
                <div class="form-group col-md-6">
                    <label for="term">Term</label>
                    <input type="text" class="form-control" id="term" v-model="term"
                           aria-describedby="term-help"
                           :class="[errors.term ? 'is-invalid': '',!errors.term && Object.keys(errors).length > 1 ? 'is-valid': '']"
                           placeholder="Term" required>
                    <div class="invalid-feedback" v-if="errors.term">
                        {{ errors.term.toString()}}
                    </div>
                </div>
                <!--Label: Start Date, Attributes:startdate -->
                <div class="form-group col-md-6">
                    <label for="startdate">Start Date</label>
                    <input type="date" class="form-control" id="startdate" v-model="startdate"
                           aria-describedby="startdate-help"
                           :class="[errors.startdate ? 'is-invalid': '',!errors.startdate && Object.keys(errors).length > 1 ? 'is-valid': '']"
                           placeholder="Start Date" required>
                    <div class="invalid-feedback" v-if="errors.startdate">
                        {{ errors.startdate.toString()}}
                    </div>
                </div>
                <!--Label: Close Date, Attributes:closedate -->
                <div class="form-group col-md-6">
                    <label for="closedate">Close Date</label>
                    <input type="date" class="form-control" id="closedate" v-model="closedate"
                           aria-describedby="closedate-help"
                           :class="[errors.closedate ? 'is-invalid': '',!errors.closedate && Object.keys(errors).length > 1 ? 'is-valid': '']"
                           placeholder="Close Date" required>
                    <div class="invalid-feedback" v-if="errors.closedate">
                        {{ errors.closedate.toString()}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-primary float-right" type="submit" :disabled="savingTerm"
                        @click.prevent="saveTerm">
                    <i :class="{'fa fa-spin fa-spinner': savingTerm}"></i>
                    Save Term
                </button>
            </div>
        </form>
        <div>
            <terms ref="terms"></terms>
        </div>
    </div>
</template>

<script>
    import terms from './index'
    export default {
        name: "create",
        components: {
          terms
        },
        data() {
            return {
                errors: '',
                year: '',
                term: '',
                startdate: '',
                closedate: '',
                savingTerm: false,
            }
        },
        methods: {
            saveTerm() {
                this.savingTerm = true;
                axios.post('/api/terms',this.$data).then(resp=>{
                    this.savingTerm = false;
                    this.$refs.terms.getTerms();
                    this.errors = '';
                    this.term = '';
                    this.startdate = '';
                    this.closedate = '';
                }).catch(err=>{
                    this.savingTerm = false;
                    this.errors = err.response.data.errors;
                    if (err.request) {
                        this.savingTerm = false;
                    }
                })
            }
        },
    }
</script>

<style scoped>

</style>
