<template>
    <div>
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">{{ $route.params.year}}, {{ $route.params.term}}</h5>
            <p class="mb-40">Register Students to this term</p>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-outline-gold btn-sm float-right" :disabled="mutis.length <= 0"
                            @click.prevent="registerStudents">
                        Register Students
                    </button>
                </div>
                <div class="col-sm">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(student,index) in students">
                                    <td>{{ index + 1}}</td>
                                    <td>{{ student.fullname }}
                                        <br>
                                        <span v-if="student.boarder === '1'" class="badge badge-cyan">Boarder</span>
                                        <span v-else class="badge badge-gold">Day Scholar</span>
                                        <span style="font-weight: 800">{{ student.admno }}</span>
                                        <br>
                                        <span style="font-weight: 200">{{ student.course.type}} in {{
                                            student.course.name}} </span>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" :value="student.id" v-model="mutis"
                                                   checked>
                                        </label>


                                    </td>
                                </tr>
                                <tr v-if="students.length <= 0">
                                    <td colspan="3" align="center">
                                        All students have been registered to {{ $route.params.term}},{{
                                        $route.params.year}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-outline-gold btn-sm float-right" :disabled="mutis.length <= 0"
                            @click.prevent="registerStudents">
                        Register Students
                    </button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "register",
        data() {
            return {
                students: [],
                mutis: [],
                id: this.$route.params.id

            }
        },
        created() {
            if (this.$route.params.term === undefined || this.$route.params.year === undefined) {
                this.$router.push({name: 'termmanagement'});
                return;
            }
            this.getStudents();
        },
        methods: {
            getStudents() {
                axios.get('/api/unRegisteredTermStudents/' + this.$route.params.id).then(resp => {
                    this.students = resp.data;
                }).catch(err => {

                });
            },
            registerStudents() {
                axios.post('/api/registerStudents', this.$data).then(resp => {
                    this.getStudents();
                }).catch();
            }
        },
    }
</script>

<style scoped>

</style>
