<template>
    <div>
        <div v-if="loading" class="text-center">
            <loading></loading>
        </div>
        <div v-else class="table-wrap">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Year</th>
                        <th>Term</th>
                        <th>Start Date</th>
                        <th>Close Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(term,index) in terms">
                        <td>{{ index + 1}}</td>
                        <td>{{ term.year}}</td>
                        <td>{{ term.term}}</td>
                        <td>{{ term.startdate}}</td>
                        <td>{{ term.closedate}}</td>
                        <td>
                            <router-link :key="$route.fullPath" :to="{ name: 'registerstudents',params:
                                {
                                year: term.year,
                                id: term.id,
                                term: term.term
                                 }
                                 }"
                                         class="mr-25 btn btn-sm btn-outline-blue"
                            >
                                Register Students
                            </router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import loading from './../loading'
    export default {
        name: "termregistration",
        components: {
            loading
        },
        data() {
            return {
                terms: '',
                loading: false
            }
        },
        methods: {
            getTerms() {
                this.loading = true;
                axios.get('/api/terms').then(resp => {
                    this.loading = false;
                    this.terms = resp.data;
                }).catch(err => {
                    this.loading = false;
                    if (err.request) {
                        this.loading = false;
                    }
                });
            }
        },
        created() {
            this.getTerms();
        }
    }
</script>

<style scoped>

</style>
