<template>
   <div>
       <form action="">
           <div class="form-row">
               <!--Label: Course Name, Attributes:name -->
               <div class="form-group col-md-6">
                   <label for="name">Course Name</label>
                   <input type="text" class="form-control" id="name" v-model="name"
                          aria-describedby="name-help"
                          :class="[errors.name ? 'is-invalid': '',!errors.name && Object.keys(errors).length > 1 ? 'is-valid': '']"
                          placeholder="Course Name" required>
                   <div class="invalid-feedback" v-if="errors.name">
                       {{ errors.name.toString()}}
                   </div>
               </div>
               <!--Label: Type, Attributes:type -->
               <div class="form-group col-md-6">
                   <label for="type">Type</label>
                   <select class="form-control" id="type" v-model="type"
                           :class="[errors.type ? 'is-invalid': '',!errors.type && Object.keys(errors).length > 1 ? 'is-valid': '']">
                       <option value="Diploma">Diploma</option>
                       <option value="Certificate">Craft Certificate</option>
                       <option value="Artisan">Artisan</option>
                   </select>
                   <div class="invalid-feedback" v-if="errors.type">
                       {{ errors.type.toString()}}
                   </div>
               </div>
               <!--Label: Fee per semester, Attributes:fee -->
               <div class="form-group col-md-6">
                   <label for="fee">Fee per semester</label>
                   <input type="text" class="form-control" id="fee" v-model="fee"
                          aria-describedby="fee-help"
                          :class="[errors.fee ? 'is-invalid': '',!errors.fee && Object.keys(errors).length > 1 ? 'is-valid': '']"
                          placeholder="Fee per semester" required>
                   <div class="invalid-feedback" v-if="errors.fee">
                       {{ errors.fee.toString()}}
                   </div>
               </div>
           </div>
           <div class="form-row">
               <button class="btn btn-primary float-right" type="submit" :disabled="savingStream"
                       @click.prevent="saveCourse">
                   <i :class="{'fa fa-spin fa-spinner': savingStream}"></i>
                   Save Course
               </button>
           </div>

       </form>

       <div class="mt-3">
           <coursesindex ref="coursesindex"></coursesindex>
       </div>
   </div>
</template>

<script>
    import coursesindex from './index'
    export default {
        name: "create",
        components:{
          coursesindex
        },
        data() {
            return {
                name: '',
                type: '',
                errors: '',
                fee: '',
                savingStream: false,
            }
        },
        methods: {
            saveCourse() {
                this.savingStream = true;
                axios.post('/api/course', this.$data).then(resp => {
                    this.savingStream = false;
                    this.errors = '';
                    this.name = '';
                    this.fee = '';
                    this.$refs.coursesindex.getCourses();
                }).catch(err => {
                    this.errors = err.response.data.errors;
                    this.savingStream = false;
                    if (err.request) {
                        this.savingStream = false;
                    }
                });
            }
        },
    }
</script>

<style scoped>

</style>
