<template>
    <div>
        <div>
            <div v-if="loading" class="text-center">
                <loading></loading>
            </div>
            <div v-else >
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="card">
                            <!--            <img class="card-img-top" src="..." alt="Card image cap">-->
                            <div class="card-body">
                                <h5 class="card-title">{{ students.type }} in {{ students.name }}</h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Get Fee Statement by Term</h5>
                                    <form action="">
                                        <!--Label: Year, Attributes:year -->
                                        <div class="form-group">
                                            <label for="year">Year</label>
                                            <select @change="getHeadwise" class="form-control" id="year"
                                                    v-model="year"
                                                    :class="[errors.year ? 'is-invalid': '',!errors.year && Object.keys(errors).length > 1 ? 'is-valid': '']">
                                                <option v-for="y in years" :value="y.id">{{ y.term}}, {{ y
                                                    .year}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" v-if="errors.year">
                                                {{ errors.year.toString()}}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="table-responsive" v-if="Object.keys(allStudents).length <= 0">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Student Name</th>
                            <th>Admno.</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(student,index) in students.students">
                            <tr>
                                <td>{{ index + 1}}</td>
                                <td>{{ student.fullname}}</td>
                                <td>{{ student.admno}}</td>
                                <td><span v-if="student.boarder === '1'" class="badge badge-cyan">Boarder</span>
                                    <span v-else class="badge badge-gold">Day Scholar</span></td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <div class="d-flex flex-row bd-highlight mr-2  justify-content-start">
                                        <div class="p-2 bd-highlight" style="border-right: 1px solid black"
                                             v-for="receipts in student.custompayments">

                                            <strong class="mr-2">Date: </strong> <span class="float-right">{{ receipts
                                            .date}}</span>
                                            <br>
                                            <strong class="mr-2">RCT: </strong> <span class="float-right">{{ receipts.receipt
                                            }}</span>
                                            <br>
                                            <strong class="mr-2">Amount: </strong> <span class="float-right">{{
                                            parseInt(receipts.amount).toLocaleString()}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive" v-else >
                    <div class="float-right">
                        <router-link :key="$route.fullPath" :to="{ name: 'printFeeStatement',params: { $data} }"
                        >
                            <i class="fa fa-print"></i>
                        </router-link>

                    </div>
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Student Name</th>
                            <th>Admno.</th>
                            <th>D/B</th>
                            <th>B/F</th>
                            <th>This Terms fees</th>
                            <th>Total Fees</th>
                            <th>Payments</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(student,index) in allStudents" >
                            <tr>
                                <td>{{ index + 1}}</td>
                                <td>

                                    <router-link :key="$route.fullPath" :to="{ name: 'showstudents',params: {id: student.student_id} }"
                                                 >
                                        {{ student.fullname }}
                                    </router-link>
                                    </td>
                                <td>{{ student.admno}}</td>
                                <td><span v-if="student.boarder === '1'" class="badge badge-cyan">Boarder</span>
                                    <span v-else class="badge badge-gold">Day Scholar</span></td>
                                <td>0.00</td>
                                <td>{{ parseInt(student.fee).toLocaleString() }}</td>
                                <td>{{ parseInt(student.fee).toLocaleString() }}</td>
                                <td>{{ parseInt(student.payments).toLocaleString() }}</td>
                                <td>{{ parseInt(student.fee - student.payments).toLocaleString() }}</td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <div class="d-flex flex-row bd-highlight mr-2  justify-content-start">
                                        <div class="p-2 bd-highlight" style="border-right: 1px solid black"
                                             v-for="receipts in student.custompayments">

                                            <strong class="mr-2">Date: </strong> <span class="float-right">{{ receipts
                                            .date}}</span>
                                            <br>
                                            <strong class="mr-2">RCT: </strong> <span class="float-right">{{ receipts.receipt
                                            }}</span>
                                            <br>
                                            <strong class="mr-2">Amount: </strong> <span class="float-right">{{
                                            parseInt(receipts.amount).toLocaleString()}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        <tr align="center" class="text-center align-content-center" v-if="allStudents.length <= 0">

                           <td colspan="9">
                               <p>This term does not have students who have paid their school fees</p>
                               <router-link :key="$route.fullPath" :to="{ name: 'viewstudents' }"
                                            class="mr-25 btn btn-sm btn-outline-blue">
                                   <i class="fa fa-plus-circle"></i>
                               </router-link>

                           </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import loading from './../loading'

    export default {
        name: "show",
        components: {
            loading
        },
        data() {
            return {
                loading: false,
                students: '',
                errors: '',
                year: '',
                years: '',
                course: this.$route.params.id,
                allStudents: ''
            }
        },
        methods: {
            getStudentsForCourse() {
                axios.get('/api/course/' + this.$route.params.id).then(resp => {
                    this.students = resp.data;
                });
            },
            getHeadwise() {
                axios.post('/api/getStudentsbyTerminCourse', this.$data).then(resp => {
                    this.allStudents = resp.data;
                });
            },
            getTerms() {
                axios.get('/api/terms').then(resp => {
                    this.years = resp.data;
                });
            }
        },
        created() {
            this.getStudentsForCourse();
            this.getTerms();
        }
    }
</script>

<style scoped>

</style>
